examples/noaa/HarmonicConstituents.wsdl

<?xml version="1.0" encoding="UTF-8" ?> 
<wsdl:definitions targetNamespace="https://opendap.co-ops.nos.noaa.gov/axis/webservices/harmonicconstituents/wsdl" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="https://opendap.co-ops.nos.noaa.gov/axis/webservices/harmonicconstituents/wsdl" xmlns:intf="https://opendap.co-ops.nos.noaa.gov/axis/webservices/harmonicconstituents/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <!-- 
WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)

  --> 
    <wsdl:types>
        <schema elementFormDefault="qualified" targetNamespace="https://opendap.co-ops.nos.noaa.gov/axis/webservices/harmonicconstituents/wsdl" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="Parameters">
                <complexType>
                    <sequence>
                        <element name="stationId" type="xsd:string" /> 
                        <element name="unit" type="xsd:int" /> 
                        <element name="timeZone" type="xsd:int" /> 
                    </sequence>
                </complexType>
            </element>
            <complexType name="Data">
                <sequence>
                    <element name="constNum" type="xsd:int" /> 
                    <element name="name" type="xsd:string" /> 
                    <element name="amplitude" type="xsd:double" /> 
                    <element name="phase" type="xsd:double" /> 
                    <element name="speed" type="xsd:double" /> 
                </sequence>
            </complexType>
            <complexType name="ArrayOfData">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="item" type="impl:Data" /> 
                </sequence>
            </complexType>
            <element name="harmonicConstituents">
                <complexType>
                    <sequence>
                        <element name="data" type="impl:ArrayOfData" /> 
                    </sequence>
                </complexType>
            </element>
            <element name="HCandMetadata">
                <complexType>
                    <sequence>
                        <element name="stationId" type="xsd:string" /> 
                        <element name="stationName" type="xsd:string" /> 
                        <element name="latitude" type="xsd:float" /> 
                        <element name="longitude" type="xsd:float" /> 
                        <element name="state" type="xsd:string" /> 
                        <element name="dataSource" type="xsd:string" /> 
                        <element name="timeZone" type="xsd:string" /> 
                        <element name="unit" type="xsd:string" /> 
                        <element name="data" type="impl:ArrayOfData" /> 
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="getHarmonicConstituentsResponse">
        <wsdl:part element="impl:harmonicConstituents" name="harmonicConstituents" /> 
    </wsdl:message>
    <wsdl:message name="getHConstituentsAndMetadataRequest">
        <wsdl:part element="impl:Parameters" name="Parameters" /> 
    </wsdl:message>
    <wsdl:message name="getHarmonicConstituentsRequest">
        <wsdl:part element="impl:Parameters" name="Parameters" /> 
    </wsdl:message>
    <wsdl:message name="getHConstituentsAndMetadataResponse">
        <wsdl:part element="impl:HCandMetadata" name="HCandMetadata" /> 
    </wsdl:message>
    <wsdl:portType name="HarmonicConstituentsPortType">
        <wsdl:operation name="getHarmonicConstituents" parameterOrder="Parameters">
            <wsdl:input message="impl:getHarmonicConstituentsRequest" name="getHarmonicConstituentsRequest" /> 
            <wsdl:output message="impl:getHarmonicConstituentsResponse" name="getHarmonicConstituentsResponse" /> 
        </wsdl:operation>
        <wsdl:operation name="getHConstituentsAndMetadata" parameterOrder="Parameters">
            <wsdl:input message="impl:getHConstituentsAndMetadataRequest" name="getHConstituentsAndMetadataRequest" /> 
            <wsdl:output message="impl:getHConstituentsAndMetadataResponse" name="getHConstituentsAndMetadataResponse" /> 
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="HarmonicConstituentsSoapBinding" type="impl:HarmonicConstituentsPortType">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
        <wsdl:operation name="getHarmonicConstituents">
            <wsdlsoap:operation soapAction="" /> 
            <wsdl:input name="getHarmonicConstituentsRequest">
                <wsdlsoap:body use="literal" /> 
            </wsdl:input>
            <wsdl:output name="getHarmonicConstituentsResponse">
                <wsdlsoap:body use="literal" /> 
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getHConstituentsAndMetadata">
            <wsdlsoap:operation soapAction="" /> 
            <wsdl:input name="getHConstituentsAndMetadataRequest">
                <wsdlsoap:body use="literal" /> 
            </wsdl:input>
            <wsdl:output name="getHConstituentsAndMetadataResponse">
                <wsdlsoap:body use="literal" /> 
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="HarmonicConstituentsService">
        <wsdl:port binding="impl:HarmonicConstituentsSoapBinding" name="HarmonicConstituents">
            <wsdlsoap:address location="https://opendap.co-ops.nos.noaa.gov/axis/services/HarmonicConstituents" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>